@use "../abstracts/variables";

.btn {
  display: inline-block;
  text-decoration: none;
  font-size: 1.9rem;
  font-weight: 500;
  padding: 2.2rem 3.8rem;
  transition: opacity 0.3s ease-in-out;

  &:hover {
    opacity: 0.8;
  }

  &--hero {
    color: variables.$primary-color;
    background-color: variables.$white-color;
  }

  &--product {
    color: variables.$white-color;
    background-color: variables.$primary-color;
    grid-column: 1 / -1;
    justify-self: center;
  }
}
