@use "../abstracts/variables";
@use "../abstracts/extends";

.overlay {
  @extend %position;
  background-color: variables.$primary-color;
  opacity: 0.15;
}

// making all link same
.link {
  display: inline-block;
  color: variables.$white-color;
  padding: 0.2rem 0;
  text-decoration: none;
  text-transform: capitalize;
}

// wrapping content to same width
.content-wrapper {
  max-width: 140rem;
  width: 100%;
  text-align: center;
}

// fluid padding for all sections
.padding-fluid {
  padding: 6.6vmax 4vw;
}

// center with grid
.grid-center {
  display: grid;
  place-items: center;
}

// center with flex
.flex-center {
  display: flex;
  align-items: center;
}

// 3 column layout
.grid-3-column {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

// responsive image
.img-fluid {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

// icons on the pages
.icon {
  width: 2.5rem;
  height: 2.5rem;
}

// screen reader accessability
.scr-rdr-only {
  position: absolute;
  top: 0;
  left: -10000000px;
  width: 1px;
}
