@use "../abstracts/variables";
@use "../abstracts/extends";

.hero {
  min-height: 100vh;
  color: variables.$white-color;

  &--image-box {
    @extend %position;
  }

  &--image {
    image-rendering: pixelated;
    object-position: 50.835% 37.639%;
  }

  &--text-box {
    position: absolute;
    top: 57%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
  }
}
