@use "../abstracts/variables";

.navigation {
  @media only screen and(max-width:64em) {
    grid-template-columns: repeat(2, 1fr);
  }

  &__list {
    @media only screen and(max-width:64em) {
      display: none;
    }

    &--item {
      font-size: 1.7rem;
      margin-right: 1.5vw;
    }
  }

  &--logo-wrapper {
    justify-self: center;
    font-size: clamp(2.3rem, calc(2rem + 1vw), 3.4rem);
    font-weight: 500;

    @media only screen and(max-width:64em) {
      justify-self: start;
    }
  }

  &--action-box {
    justify-self: end;
  }

  &--login {
    font-size: 1.7rem;
    margin-right: 5rem;

    @media only screen and(max-width:64em) {
      display: none;
    }
  }
}
